
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: aqua;
    width: 100%;
    height: 100%;
}

.container-navegacion{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container-inicial{
    background-color:red;
}

.boton-simulador{
    background-color: blueviolet;
}