
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: aqua;
    width: 100%;
    height: 100%;
}

.container-navegacion{
    display: flex;
    gap: 10px;
}

.container-inicial{
    background-color:red;
}

.boton-simulador{
    background-color: blueviolet;
}

#caja1{
    display: inline-block;
    text-align: left;
    flex-direction: column;
    align-items: flex-end;
    border-color: azure;
    
}